
<body>
  <div id="wrap">
    <h1>LitHub</h1>
    <h2>Author</h2>
    <p>Name</p>
    {{{user.firstName}}} {{{user.lastName}}}
    <hr>
    <strong>Uploaded Books</strong>
    <br>
    <br>
    {{#each books}}
    {{#if this.ownerEmail}}
    <li>{{this.title}} - Owner = {{this.ownerEmail}}</li>
    {{else}}
    <li>{{this.title}} - Unowned</li>
    {{/if}}
    {{/each}}

    <hr>
    <a href="/upload">Upload Book</a>
  </div>
</body>

<style>
body {
  background-color: dimgray;
  color: white;
}

#wrap {
  width: 60%;
  margin: auto;
  background: dimgray;
  overflow: hidden;
  padding: 15px;
  border: 0ch;
  
}
.page_wrap
{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
body
{
    text-align: center; /* required by some browsers */
}

</style>