
<body>
  <div id="wrap">
    <h1>LitHub</h1>
    <h2>Reader</h2>
    <p>Username</p>
    {{{user.firstName}}} {{{user.lastName}}}
    <hr>
    <strong>Owned Books</strong>
    <br>
    <br>
    {{#each books}}
    <button type="button" class="collapsible">{{this.title}} - Bought for {{this.price}} ETH</button>
      <div class="content">
        <form action="/read?book={{{this.id}}}" method="get">
          <input type="textarea" placeholder="Enter eluv.io private key" name="key" id="key" required>
          <button type="submit">Open</button>
        </form>
      </div> 
    {{/each}}

    <hr>
    <a href="/market">Book Store</a>
  </div>
</body>

<style>
body {
  background-color: dimgray;
  color: white;
}

#wrap {
  width: 60%;
  margin: auto;
  background: dimgray;
  overflow: hidden;
  padding: 15px;
  border: 0ch;
  
}
.page_wrap
{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
body
{
    text-align: center; /* required by some browsers */
}
/* from w3 schools */
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 


</style>
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 
</script>